*{
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}
body{
    background-color: black;
}
#pcv{
    display: flex;
}

.col-izq{
    background-color: lightsteelblue;
    
    margin: 20px 5px 0px 20px;
    padding: 10px;
    width: 300px;
    border: 5px solid lightblue;

}

.col-der{
    background-color: lightblue;
    padding: 10px;
    margin-top: 20px;
    border: 5px solid lightsteelblue;
    width: 700px;
}

img{
    border: 4px double black
}

.datosc{
    font-style: italic;
}

h1{
    border: 7px outset ;
    text-align: center;
}

h3{
    padding: 5px;
    color:rgb(53, 83, 214);
    border: 2px dashed black;
}

h4{
   color:rgb(145, 30, 30);
   text-decoration: underline solid black;
}

.par{
    text-decoration:underline firebrick;
}
.profesion{
    text-align: center;
}

i{
    color: blue;
}